/* bloco / block */
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 80px;
    background-color: antiquewhite;
    /* apagar no final */
    /* border: 1px solid black; */
}
/* elemento / elemento */
.menu__item{
    color: black;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    transition: text-decoration .4s;
}

.menu__item:hover{
    text-decoration: underline;
}

.menu__item--button-default{
    padding: 5px 10px;
    border-radius: 3px;    
    border: 1px dotted black;
}

.menu__item--sucess{
    padding: 5px 10px;
    border-radius: 3px;
    background-color: rgb(147, 246, 147);
    border: 1px dotted rgb(147, 246, 147);
}

/* card perfil do usuário */
.card-perfil {
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(211, 211, 211);
}

.card-perfil_img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border:  1px solid blue;
}